/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */

body {
    width: 100%;
    height: 100vh;
    background-color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* headers styles */
.header {
    width: 100%;
    padding: 1.5% 0;
    background-color: #999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
    transition: all 0.3s ease-in-out;
    gap: 1rem;
}

.header:focus, .header:hover {
    background-color: #777;
    box-shadow: 0 0 20px 5px #000;
    border-bottom: 2px solid #000;
}

/* header h2 */
.header-h2 {
    color: #eee;
    font-size: clamp(0.5rem, max(2vw, 3.5vh), 2.2rem);
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 0.5%;
    transition: all 0.3s ease-in-out;
}
.header:focus .header-h2, .header:hover .header-h2 {
    color: #fff;
    text-shadow: 0 0 20px #000;
}

/* header nav */
.header-nav {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5%;
    margin-right: 0.5%;
    gap: 1rem;
}

/* header button */

button {
    padding: 1.5% 3%;
    border: none;
    border-radius: 30px;
    outline: none;
    background-color: white;
    color: #000;
    font-size: clamp(0.5rem, min(2vw, 3.5vh), 1.2rem);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:focus, button:hover {
    background-color: #777;
    color: #fff;
    box-shadow: 0 0 20px 5px #000;
    text-shadow: 0 0 20px #000;
}



/* main styles */
.main {
    flex-grow: 1;
    background-color: gray;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main Section */
.main-section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* city image styles */
.city {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 80vh;
}

/* car image styles */
.car {
    position: absolute;
    z-index: 2;
    width: clamp(20px, min(10vw, 20vh), 150px);
    height: clamp(10px, min(10vw, 20vh), 100px);
    margin-top: 22rem;
    margin-left: -90%;
}

/* footer */

.footer {
    
    width: 100%;
    padding: 1.5% 0;
    background-color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.footer:focus, .footer:hover {
    background-color: #777;
    box-shadow: 0 0 20px 5px #000;
    border-top: 2px solid #000;
}

/* footer p */
.footer p {
    color: white;
    font-size: clamp(0.5rem, min(2vw, 3.5vh), 1.5rem);
    font-weight: bold;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
}
.footer:focus p, .footer:hover p {
    color: #eee;
    text-shadow: 0 0 20px #000;
}

/* footer datetime */

#datetime {
    color: green;
    text-decoration: underline;
}

/* media queries */

@media screen and (min-width:300px) and (max-width:1050px){ 
    .header {
    padding: 0.5% 0;
}
    .header-h2 {
    font-size: clamp(0.5rem, min(2vw, 3.5vh), 2rem);
}
button {
    padding: 0.5% 1%;
}
    .city {
    height: 95vh;
}

}